body {
    font-family: "Roboto";
}
main {
    margin: 20px;
    height: 650px;
}
a {
    outline: none;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

#logo {
  margin-right: 15px;
}


header {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: gainsboro;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 20px;
}


nav ul {
    display: flex;
    justify-content: left;
}

nav li {
    list-style: none;
    display: flex;
    justify-content: left;
    margin-right:30px;
}

footer {
    padding: 20px;
    background-color: darkgrey;
    border-radius: 5px;
    text-align: center;
}

.title {
    padding: 20px 20px 5px 25px ;
    border-radius: 5px 5px 0px 0px;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    align-items: center;
}

