{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block main %}
    <h1>La ressource demandée n'est pas accessible, nous faisons tout notre possible pour y remédier !</h1>
{% endblock %}